@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Smooth scrolling for the whole site */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8fafc; /* Slate-50 */
  color: #1e293b; /* Slate-800 */
}